body {
  background-image: url(https://lh3.googleusercontent.com/drive-storage/AJQWtBNDHVfsTyFRAwwkuzMZPjsWnNP3qzkOMdc56tG5yqlFEuRMY7ebJ_cf2ZIrzTJz4C2RMu6f2gNOuSi3enGxkinRxRdRyiEBuTcxl-OCps1NQiM=w1920-h953);
  background-size: cover;
}
#icon {
  width: 200px;
  position: relative;
}
