table {
  border: 1px solid red;
  border-spacing: 10px;
  border-collapse: separate;
}
#search {
  background-color: beige;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  width: 435px;
  height: 400px;
  position: relative;
}

#svgSearch {
  position: absolute;
  top: 50%;
  right: 50%;
  translate: -50% -50%;
}
input.search {
  margin-top: 50px;
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url(../search.svg) no-repeat 13px;
}
input.search:focus {
  outline: none;
  border-color: red;
}
input.search:hover {
  background-color: azure;
  cursor: pointer;
}
